@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lobster&family=Playfair+Display&family=Sorts+Mill+Goudy:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sorts+Mill+Goudy:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  /* background-image: url(./ımg/netflix-background-image\ 1.png);   */
  color: white;
}

#container{
    max-width: 1240;
    height: 1036;
    background-color:rgba(0,0 ,0 ,0.3);
    margin: auto;
    margin-top: 30px;
}

#title{
    font-size: 3.1rem;
    color: white;
    font-family: 'Bowlby One SC', cursive;
}

span{
    color: #ff0000;
}

#description{
    font-family: 'Sorts Mill Goudy', serif; 
    /* color: white; */
}

#header{
    text-align: center;
}

textarea{
    resize:none ;
}

#survey-form-container{
    width: 500px;
    background-color:rgba(0,0 ,0 ,0.8) ;
    margin: auto;
    padding: 30 px 40 px;
}

#name,
#age,
#email,
#dropdown,
#feedback{
    width:100% ;
}